<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.tsunami-productions.alfred-onkyo-remote</string>
	<key>connections</key>
	<dict>
		<key>08D4695B-8106-4931-A016-7CFA96127A5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1C33BE-ADA8-4AA5-B784-2AB4E617D1B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DEA6133-3D3E-4765-9BFF-5BEB12758431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>108CFD83-1601-4EB0-A5F6-E6B9666E1BF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18596785-34B6-4C0D-A46B-8A7AA0458D4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CDF226E-6F2D-409A-BB97-F852ECCD3FE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08D4695B-8106-4931-A016-7CFA96127A5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>623E5D78-2EBA-4220-B44C-B33D30A36598</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>722DD613-706C-4031-8840-E5BE57C4B453</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82C5911E-EA04-4007-B514-A7B771441F29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>954AF2D3-8F1E-43C3-8801-4958DAFB64E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DA42B68-FDBE-43B3-BD21-942552F4498D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3E274A3-1E6C-4980-8B69-BFAFC563525D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEC5D5BA-5474-41EE-9222-C35C054B9019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C28E75E5-A726-4041-8F64-BA6A8E361DA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7FA47CA-8A36-4461-8DC1-94BA0787C1E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08D4695B-8106-4931-A016-7CFA96127A5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D132F3B2-AFD2-4410-8816-D591758CB9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1C33BE-ADA8-4AA5-B784-2AB4E617D1B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E13E80B0-F9C7-4CC2-A185-2BA388745E70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3468BF5-2158-4DE6-B4B9-F04FDA4CAAAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08D4695B-8106-4931-A016-7CFA96127A5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F776D8AB-68E2-4557-8E27-DC8F39885DDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Erik Minekus</string>
	<key>description</key>
	<string>Control Onkyo network receiver.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Onkyo Remote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python filter.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Onkyo Remote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E3468BF5-2158-4DE6-B4B9-F04FDA4CAAAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python action.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D1C33BE-ADA8-4AA5-B784-2AB4E617D1B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>08D4695B-8106-4931-A016-7CFA96127A5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>source bd</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0DEA6133-3D3E-4765-9BFF-5BEB12758431</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>net pause</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BEC5D5BA-5474-41EE-9222-C35C054B9019</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>off</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>108CFD83-1601-4EB0-A5F6-E6B9666E1BF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>onkyo-remote</string>
				<key>triggername</key>
				<string>Onkyo Remote</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>1CDF226E-6F2D-409A-BB97-F852ECCD3FE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>volume down</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>18596785-34B6-4C0D-A46B-8A7AA0458D4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>source cbl</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>954AF2D3-8F1E-43C3-8801-4958DAFB64E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>volume up</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E13E80B0-F9C7-4CC2-A185-2BA388745E70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>on</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F776D8AB-68E2-4557-8E27-DC8F39885DDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>net play</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C28E75E5-A726-4041-8F64-BA6A8E361DA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>onkyo-remote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C7FA47CA-8A36-4461-8DC1-94BA0787C1E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>source game</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>722DD613-706C-4031-8840-E5BE57C4B453</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>net next-track</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D132F3B2-AFD2-4410-8816-D591758CB9E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>volume mute</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9DA42B68-FDBE-43B3-BD21-942552F4498D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>net previous-track</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>623E5D78-2EBA-4220-B44C-B33D30A36598</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>source net</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A3E274A3-1E6C-4980-8B69-BFAFC563525D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>source usb</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>82C5911E-EA04-4007-B514-A7B771441F29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08D4695B-8106-4931-A016-7CFA96127A5C</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>0D1C33BE-ADA8-4AA5-B784-2AB4E617D1B9</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>0DEA6133-3D3E-4765-9BFF-5BEB12758431</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>108CFD83-1601-4EB0-A5F6-E6B9666E1BF0</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>18596785-34B6-4C0D-A46B-8A7AA0458D4E</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>1CDF226E-6F2D-409A-BB97-F852ECCD3FE8</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>623E5D78-2EBA-4220-B44C-B33D30A36598</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>722DD613-706C-4031-8840-E5BE57C4B453</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>82C5911E-EA04-4007-B514-A7B771441F29</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>954AF2D3-8F1E-43C3-8801-4958DAFB64E8</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>9DA42B68-FDBE-43B3-BD21-942552F4498D</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>A3E274A3-1E6C-4980-8B69-BFAFC563525D</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>BEC5D5BA-5474-41EE-9222-C35C054B9019</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C28E75E5-A726-4041-8F64-BA6A8E361DA1</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>C7FA47CA-8A36-4461-8DC1-94BA0787C1E2</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>D132F3B2-AFD2-4410-8816-D591758CB9E4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>DD3B1E9F-8CAC-491E-BA37-A5A1C85A5886</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E13E80B0-F9C7-4CC2-A185-2BA388745E70</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>E3468BF5-2158-4DE6-B4B9-F04FDA4CAAAD</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F776D8AB-68E2-4557-8E27-DC8F39885DDD</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>onkyo</string>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/ErikMinekus/alfred-workflows</string>
</dict>
</plist>
