<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.tsunami-productions.alfred-open-with-sublime-text</string>
	<key>connections</key>
	<dict>
		<key>2E854B8E-132C-4855-B9EE-1B5BE5EEF4B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70546DCC-FF6E-4009-A782-A5D6FE9F9420</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59067348-4421-450D-BD94-F1248F962FA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1003BC6-FB67-4966-9E83-41E333D310BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>854A2D37-83F0-4F02-AFA5-15ADFCD4EC04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E9D21D6-6E3B-406F-B26F-3C150F324A3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1003BC6-FB67-4966-9E83-41E333D310BB</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Erik Minekus</string>
	<key>description</key>
	<string>Open folders with Sublime Text.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open with Sublime Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1003BC6-FB67-4966-9E83-41E333D310BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import json, os, sys

items = []
paths = os.environ['path'].split(os.pathsep)
query = sys.argv[1]

for path in paths:
    absPath = os.path.expanduser(path)
    folders = [f for f in os.listdir(absPath) if os.path.isdir(os.path.join(absPath, f))]

    for folder in folders:
        if not query or query.lower() in folder.lower():
            items.append({
                'title': folder,
                'subtitle': os.path.join(path, folder),
                'arg': os.path.join(absPath, folder),
                'autocomplete': folder,
                'valid': True,
                'icon': {
                    'path': 'public.folder',
                    'type': 'filetype',
                },
            })

items = sorted(items, key=lambda item: item['title'].lower())

if not items:
    items.append({'title': 'No folder found for "{}"'.format(query)})

print json.dumps({'items': items})</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open with Sublime Text</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>59067348-4421-450D-BD94-F1248F962FA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Open with Sublime Text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>854A2D37-83F0-4F02-AFA5-15ADFCD4EC04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import subprocess, sys

for path in sys.argv[1:]:
	subprocess.call(['/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl', path])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E9D21D6-6E3B-406F-B26F-3C150F324A3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2E854B8E-132C-4855-B9EE-1B5BE5EEF4B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
    tell application "Finder"
        set currentTarget to target of window 1
        set currentPath to POSIX path of (currentTarget as alias)
    end tell

    do shell script "/Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl " &amp; quoted form of currentPath
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70546DCC-FF6E-4009-A782-A5D6FE9F9420</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2E854B8E-132C-4855-B9EE-1B5BE5EEF4B9</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4E9D21D6-6E3B-406F-B26F-3C150F324A3B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>59067348-4421-450D-BD94-F1248F962FA7</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>70546DCC-FF6E-4009-A782-A5D6FE9F9420</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>854A2D37-83F0-4F02-AFA5-15ADFCD4EC04</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B1003BC6-FB67-4966-9E83-41E333D310BB</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>subl</string>
		<key>path</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>path</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/ErikMinekus/alfred-workflows</string>
</dict>
</plist>
